body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Banner Section */

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

#banner .content p {
    text-decoration: underline;
    color: aquamarine;
    font-size: 17px;
}

#iphone {
  height: 700px; 
  padding-top: 70px; 
 
}

/* Last section*/

#soon {
    font-family: Verdana;
    font-weight: 300;
    font-size: 50px;
    color: white;
}

#last .content p {
    color: gray;
    font-size: 21px;
}

p {
  color: gray;
}

#last .content h1 {
    color: white;
}

#last .content #lastp {
    text-decoration: underline;
    color: aquamarine;
    font-size: 16px;
}

#last .content #iphone{
    height: 527px;
    width: 827px;
}

#last .content #copyright {
    color: gray;
    font-size: 21px;
    text-align: right;
}