body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Banner Section */

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

p {
  font-size: 16px;
  color: aquamarine;
  text-align: center;
  
}

#iphone {
  height: 700px; 
  padding-top: 70px; 
  margin-left: 150px;
}

/* Last section*/

#soon {
    font-family: Verdana;
    font-weight: 300;
    font-size: 50px;
    color: white;
}

#last .content img {
    position: relative;
}

#last .content p {
    color: white;
    font-size: 20px;
}

#last .content img {
    bottom: 0;
    
    left: 20;
    
}